footer {
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
    // position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 1440px;
    z-index: 5;
    margin-top: auto; /* Allows footer to push to the bottom in flexbox layout */

    img {
        width: 122px;
    }

    p {
        margin-top: 40px;
        font-size: 20px;

        @media (max-width: 800px) {
            font-size: 16px;
        }

        @media (max-width: 576px) {
            margin-top: 20px;
            font-size: 12px;
            display: flex;
            flex-direction: column;
        }
    }
}
