.property-card {
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 100px;
}

h1 {
    font-size: 36px;
}

.property-tag {
    background-color: #FF6060;
    margin-right: 15px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.property-title {
    margin-bottom: 5px;
}

.property-location {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
}

.property-header {
    display: flex;
    justify-content: space-between;
}

.host-info {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.host-picture {
    border-radius: 50%;
    margin-left: 20px;
    width: 80px;
}

.host-name {
    color: #FF6060;
}

.property-rating{
    margin-top: 20px;
}

.star {
    width: 40px;
    margin-left: 20px;
}

.property-container {
    display: flex;
    justify-content: space-between;
    gap: 0%;
    width: 100%;
}

.property-description, 
.property-equipments {
    width: 45%; /* Adjust width to fit two components side by side */
}

.collapse {
    width: 100%;
}

.collapse-header {
    margin-left: 0;
    margin-right: 0;
}

.collapse-content ul {
    list-style-type: none;
}


@media (max-width: 800px) {
    .property-header {
        flex-direction: column;
        
    }

    .host-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .property-rating {
        width: 50%;
        height: 35px;
        padding-top: 25px;
    }

    .property-rating > :first-child {
        margin-left: 0px; /* Replace 20px with your desired margin */
    }

    .star {
        width: 30px;
        margin-left: 15px;        
    }

    .property-container {
        flex-direction: column;
    }

    .property-description, 
    .property-equipments {
        width: 100%; /* Adjust width to fit two components side by side */
    }
}

@media (max-width: 576px) {
    .property-header {
        flex-direction: column;
        
    }

    .host-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .host-name {
        text-align: end;
    }

    .property-rating {
        width: 50%;
        height: 35px;
        padding-top: 25px;
    }

    .property-rating > :first-child {
        margin-left: 0px; /* Replace 20px with your desired margin */
    }

    .star {
        width: 20px;
        margin-top: 5px;
        margin-left: 10px;        
    }

    .property-container {
        flex-direction: column;
    }

    .property-description, 
    .property-equipments {
        width: 100%; /* Adjust width to fit two components side by side */
    }

    .collapse-title {
        font-size: 16px;
    }

    .collapse-content {
        font-size: 16px;
    }

}